<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>RGB Farbskala.cdy</title>
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        #CSConsole {
            background-color: #FAFAFA;
            border-top: 1px solid #333333;
            bottom: 0px;
            height: 200px;
            overflow-y: scroll;
            position: fixed;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://cindyjs.org/dist/v0.8/CindyJS.css">
    <script type="text/javascript" src="https://cindyjs.org/dist/v0.8/Cindy.js"></script>


{{ with .Get "id"}}
<script id="{{ . }}" type="text/x-cindyscript">{{ end }}
	drawtext ((8,6.5),"csdraw",size->15);
	drawtext ((8,6),"{{ .Inner }}");
	{{ .Inner }}
</script>


    <script type="text/javascript">
var cdy1 = CindyJS({
  {{ with .Get "id"}}
  scripts: "{{ . }}",{{ end }}
  defaultAppearance: {
    dimDependent: 0.7,
    fontFamily: "sans-serif",
    lineSize: 1,
    pointSize: 5.0,
    textsize: 12.0
  },
  angleUnit: "°",
  ports: [{
	{{ with .Get "canvas"}}
    id: "{{ . }}",{{ end }}
	{{ with .Get "width"}}
	width:{{ . }},
	{{ end }}
	{{ with .Get "height"}}
	height:{{ . }},
	{{ end }}
    transform: [{visibleRect: [-2, 8, 21, -2]}],
    background: "rgb(230,230,230)"
  }],
  csconsole: false,
  cinderella: {build: 1901, version: [2, 9, 1901]}
});
    </script>

</head>
<body>
	{{ with .Get "canvas"}}
    <div id="{{ . }}"></div><br>{{ end }}
</body>
</html>
